:root {
  --red: #630606;
  --blue: hsl(256, 25%, 27%);
  font-size: 25px;
}

* {
  background-color: var(--red);
  z-index: auto;
}

#root {
  position: relative;
  min-height: 100vh;
}

.positioning {
  padding-bottom: 2.5rem;
}
